# .gcloudignore prevents uploading these files during `gcloud app deploy`

# Git config
.git
.gitignore

# Python pycache and config
__pycache__/
*.py[cod]
setup.cfg

# Virtual environments
venv/

# Secret credentials
.env
.env.*
*.json  # Covers downloaded service account keys

# MacOS system files
.DS_Store
